<div>
	<h1 class="font-bold text-4xl">Nuevo Usuario</h1>
	<div>
		<%= form_with model: @users , url: "/users/new/sucursal_update/#{@user_id}" do |form| %>
			<div class="card">
			  	<div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" style="background-color:Lavender">
				  	 Sucursal: <a style="color:black"><%= select_tag :branchoffice, options_from_collection_for_select(@branch_office, "id", "name"), {inlude_blanck: true} %> </a><br>
						<br>
						<br>
            <%= form.submit "Asignar sucursal a usuario", class:"btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%></button>
        	</div>
			</div>
      <%end%>
  </div>
</div>