<div>
  <h1 class="font-bold text-4xl">Branchoffice#index</h1>
  <a href="/branchoffice/new"> <button type="button" class="btn btn-primary">  Nueva Sucursal</button> </a>
  <% @branch_offices.each do |sucursal| %>
  <li>
    <%= sucursal.name %>
  <li>
  <% end %>
</div>
