<div class="w-full card">
  <div class ="card-title">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class=" font-bold text-4xl">Localidades</h1>
    </div>
    <%= link_to 'New location', new_location_path, class: "btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
    <div id="locations">
      <%= render @locations %>
  </div>
</div>
